#wrapper {
	height: 100%;
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
}

/* Links */

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: gray;
}

a:visited {
	text-decoration: none;
	color: black;
}

/* Nav */

nav {
	height: 50px;
	font-size: .85em;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;

}

nav ul li {
	display: inline-block;
	float: right;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-right: 15px;
	padding: 0px 13px 2px 10px;
	font-family: arial, sans-serif;
	font-weight: lighter;
	font-size: .9em;
	position: relative;
	right: 
}

nav img {
	margin-top: 1%;
	height: 15px;
	width: 15px;
}

nav a:hover {
	text-decoration: underline;
	color: #000000;
}

/* Logo */

#googleLogo {
	display: block;
	position: relative;
	margin: 12% auto 3%;
	clear: both;
	width: 269px;
}

/* Search Box */

input {
	position: relative;
	display: block;
	margin: 10px auto 10px;
	width: 70%;
	height: 38px;
}

input#searchBox {
	background: url('img/mic.png') no-repeat;
	padding-right: 5px;
}

input:hover {
	border: 1px solid #000000;
}

/* Buttons */

.button1 {
	position: relative;
	border: 1px solid rgba(216, 216, 216, 1.0);
	background-color: rgba(243, 243, 243, 1.0);
	width: 111px;
	height: 33px;
	display: inline-block;
	margin: 5px auto 5px auto;
	left: 40%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.button1:hover {
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px #777777;
	-moz-box-shadow: 2px 2px 2px #777777;
	-webkit-box-shadow: 2px 2px 2px #777777;
}

.button2 {
	position: relative;
	border: 1px solid rgba(216, 216, 216, 1.0);
	background-color: rgba(243, 243, 243, 1.0);
	display: inline-block;
	width: 111px;
	height: 33px;
	margin: 5px auto 5px auto;
	left: 40%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.button2:hover {
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px #777777;
	-moz-box-shadow: 2px 2px 2px #777777;
	-webkit-box-shadow: 2px 2px 2px #777777;
}

/* Footer */

footer {
	width: 100%;
	height: 5%;
	border: 1px solid gray;
	position: fixed;
	display: block;
	background: rgba(243, 243, 243, 1.0);
	margin: 0;
	padding-top: 15px;
	bottom: 0;
}

footer ul li {
	display: inline;
	padding: 5px 10px 3px 10px;
	font-family: arial, sans-serif;
	font-weight: lighter;
	font-size: .85em;
}

.right {
	float: right;
}

@media screen and (max-width: 450px) {

	nav {
	  position: absolute;
	  top: 1em;
	  right: 1em;
	  width: 2em;
	  height: .5em;
	  border-top: 1em double #000;
	  border-bottom: 1em double #000;
	  background-color: rgba(238, 238, 238, 1.0);
	}
	nav ul {
		display: none;
	}
	nav ul li {
		display: none;
	}
	#googleLogo {
		margin-top: 20%;
	}
	.button1 {
		position: absolute;
		display: block;
		margin: 5px auto;
		top: 45%;
	}
	.button2 {
		position: absolute;
		display: block;
		margin: 5px auto;
		right: 155px;
		top: 53%;
	}
	footer {
		position: fixed;
		background-image: url('img/settings.png'); 
		background-position: center;
		background-repeat: no-repeat;
		/*padding: 5px auto;*/


	}
	footer ul li {
		display: none;
	}
}
